.searchbar {
    height: 30px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 400px;
    padding-left: 20pt;
    font-size: 15pt;
    color: white;
    border: 3px solid #eee;
    border-radius: 5px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.hidden {
    border: whitesmoke;
}