.header {
    background-image: url("../../images/newback.jpg");
    background-size: cover;
    height: 275px;
    width: 100vw;
    position: relative;
}

.titles {
    margin: auto;
}

.name {
    margin: auto;
    padding-top: 40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    color: rgb(236, 235, 235);
    height: fit-content;
    width: fit-content;

    /* bottom: 100px;
    left: calc(50% - 160px); */
}

.name2 {
    margin: auto;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50pt;
    color: rgb(236, 235, 235);
    height: fit-content;
    width: fit-content;

    /* bottom: 100px;
    left: calc(50% - 160px); */
}
