.header {
    background-image: url("../../images/newback.jpg");
    background-size: cover;
    height: 275px;
    position: relative;
}

.name {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 28pt;
    color: rgb(236, 235, 235);
    height: 100px;
    width: 350px;
   
    
    
   

    position: absolute;
    bottom: 50px;
    right: calc(50% + 325px);
}

.dept {
    margin: 0;
    color: white;
    height: fit-content;
    width: fit-content;

    position: absolute;
    bottom: 70px;
    left: calc(50% - 595px);
}

.slu {
    margin: 0;
    color: white;
    height: fit-content;
    width: 62%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 4.5em;


    position: absolute;
    top: 80px;
    left: calc(50% - 595px);
}
