.lion {
    height: inherit;
    width: inherit;
    max-width: 9vw;
    position: relative;
    z-index: 100;
}

.lion:hover {
    opacity: 1;
}

.anilion {
    height: inherit;
    width: inherit;
    max-width: 9.3vw;
    visibility: hidden;
    position: relative;
    margin: 0 auto;
    top: -16vh;
    transform: scale(3.8);
    z-index: 99;
}

.lionDiv {
    height: auto;
    width: auto;
    max-width: 9vw;
    position: relative;
    margin: 45px auto;
    z-index: 100;
}