.classify {
    display: none;
}

.uploadDiv {
    width: 100%;
    text-align: center;
}

.upload::-webkit-file-upload-button {
    display: none;
}

.upload::before {
    content: 'Select some files';
    display: inline-block;
    background: white;
    border: 1px solid #999;
    border-radius: 15px;
    padding: 8px 10px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.upload:hover::before {
    background-color: #006633;
    color: grey;
}
.upload:active::before {
    background: green;
}

.submitBtn {
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 16px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 18pt;
    margin: 25px auto 0px auto;
}

.submitBtn:hover {
    background-color: #006633;
    color: grey;
}

.buttonDiv {
    position: relative;
    margin: 0 auto;
}

.trainButton {
    display: block;
    background: white;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 8pt;
    margin: 5px auto 5px auto;
}

.submitBtn:hover {
    background-color: #006633;
    color: grey;
}