.AboutPage {
    width: 100vw;
    height: 500px;
    margin-bottom: 0;
}

 .about {
    height: 150px;
    width: 400px;
    font-size: xx-large;
     margin-top: 100px;
    position: relative;
    text-align: center;
    margin: 90px auto 0 auto;
    color: whitesmoke;
} 

.create {
    height: 200px;
    width: 400px;
    font-size: 15pt;

    display: flex;
    position: relative;
    margin: 0 auto;

    color: whitesmoke;
}

.client {
    height: fit-content;
    width: fit-content;
    font-size: 15pt;

    display: flex;
    position: relative;
    margin: 0 auto;
    color: whitesmoke;

}

#Pic {
    position: relative;
    width: 400pt;
    height: 200pt;
    /* bottom: 150px; */
    margin: 50px 70px 50px 35px;
}

#Beachy {
    position: relative;
    margin: 50px 150px 50px 70px;
}

.aboutUs {
    width: 600px;
    height: 500px;
    margin: 100px auto auto 50px;
    border: 8px solid white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background:rgba(0,141,106,0.6);
    border-radius: 10px;
}

.aboutClient { 
    width: 400px;
    height: 500px;
    margin: -525px 100px auto auto;
    border: 8px solid white;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    background:rgba(0,141,106,0.6);
    border-radius: 10px;
    float: right;
}