.AboutPage {
    width: 100vw;
    height: 100%;
}

 .about {
    height: 150px;
    width: 400px;
    font-size: xx-large;
     margin-top: 100px;
    position: relative;
    text-align: center;
    left: 550px; 


    color: whitesmoke;
} 

.create {
    height: 200px;
    width: 400px;
    font-size: xx-large;

    display: flex;
    position: relative;
    left: 200px;

    color: whitesmoke;
}

.contact {
    height: 200px;
    width: 400px;
    font-size: xx-large;
    margin-top: 150px;

    display: flex;
    position: relative;
    float: right;
    right: 200px;
    bottom: 350px;

    color: whitesmoke;

}