.AboutPage {
    width: 100vw;
    height: 500px;
    margin-bottom: 0;
}

 .about {
    height: 150px;
    width: 400px;
    font-size: xx-large;
     margin-top: 100px;
    position: relative;
    text-align: center;
    margin: 90px auto 0 auto;
    color: whitesmoke;
} 

.create {
    height: 200px;
    width: 400px;
    font-size: 15pt;

    display: flex;
    position: relative;
    margin: 0 auto;

    color: whitesmoke;
}

.client {
    height: 200px;
    width: 400px;
    font-size: 15pt;

    display: flex;
    position: relative;
    margin: 0 auto;
    left: calc(50vw - 650px);

    color: whitesmoke;

}

#Pic {
    position: relative;
    width: 400pt;
    height: 200pt;
    left: calc(50vw - 275px);
    /* bottom: 150px; */
    margin: 0 auto;

    
}

#Beachy {
    position: relative;
    left: calc(50vw - 150px);
    
    margin-bottom: 0px;
}