#Image{
    width: inherit !important;
    height: inherit !important;
    border: 10px solid white;
  }

#ResultsMain {
  height: 400px !important;
  width: 400px !important;
  position: relative;
  margin: 100px auto;
}

.classi {
  position: relative;
  margin: 0 auto ;
  text-align: center;
  font-size: 25pt;
  color: white;
  margin-bottom: 10px;
}