#Image{
    width: inherit !important;
    height: inherit !important;
    border: 10px solid white;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    background:rgba(0,141,106,0.6);
    border-radius: 10px;
    
  }

#ResultsMain {
  height: 400px !important;
  width: 400px !important;
  position: relative;
  margin: 100px auto;
}


.classi {
  position: relative;
  margin: 0 auto ;
  text-align: center;
  font-size: 25pt;
  color: white;
  margin-bottom: 10px;
}